.big_text {
    font-size: 50px;
    top: 10%;
    transform: translate(-50%, 0%);
}

.finder{
    background: rgba(255, 255, 255, 0.497);
    /*background: rgba(255, 255, 255, 0.11);
    background: #f6f5f093;*/
    backdrop-filter: blur(3px);
}


.card{
    width: 80vw;
}

.finder__outer p {
    font-size: 20px;
    line-height: 30px;
}

.finder__outer {
    display: inherit;
    /*display: contents;*/
}