.big_text{
    margin: 0px;
    width: 100vw;
    height: 90vh;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    text-align: center;
    position: relative;
    
}

.pin-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 100vw;
}

/* 
row start / column start / row end / column end 
*/
.pin-item1 { grid-area: 1 / 1 / 4 / 1; }
.pin-item2 { grid-area: 2 / 2 / 7 / 2; }
.pin-item3 { grid-area: 4 / 1 / 7 / 1; }
.pin-item4 { grid-area: 5 / 2 / 7 / 2; }

#welcome_text{
    margin: 0px;
    top: 25%;
    position: relative;
}

.card50{
    width: 49vw;
    padding: 8px;
}

.card40{
    width: 39vw;
}

.welcome_page{
    display: flex;
    gap: 10px;
}