.code{
    background: rgb(110, 110, 110);
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.big_text{
    position: relative;
    top: 3%;
    font-size: 2.5vw;
}

footer{top: 90%;}